@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    width: 100%;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


/* Header Style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #f3f3f3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);

    /* make nav-bar sticky */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-container {
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 0px 5px;
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
}

nav a:hover {
    color: #1D518A;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 8px;
    width: 0%;
    height: 3px;
    background-color: #1D518A;
    transition: all .5s;
}

nav a:hover::after {
    width: 75%;
}


/* Hero Section */
#hero {
    background-image: url('images/hero1.png');
    background-repeat: no-repeat;
    background-size:60%;
    background-position: top 5% left 90%;
    background-color: #f3f3f3;
    height: 45rem;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h1 {
    color: #1D518A;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero button {
    color: #52923C;
    background: #1D518A;
    padding: 15px 25px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 20px;
    transition: all .2s ease;
    cursor: pointer;
    /* width: 13%; */
}

#hero button:active {
    transform: scale(0.96);
}

#feature {
    display: flex;
    padding: 20px 80px;
    /* position: relative; */
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

/* Feature Section */
#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    transform: scale(1.1);
    transition: all .3s;
}

#feature .feature-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #1D518A;
    display: inline-block;
    background-color: #fddde4;
}

#feature .feature-box img {
    margin-bottom: 10px;
}

#feature .feature-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .feature-box:nth-child(3) h6 {
    background-color: #dff79f;
}
#feature .feature-box:nth-child(4) h6 {
    background-color: #ffcb86;
}
#feature .feature-box:nth-child(5) h6 {
    background-color: #53b1a1;
}
#feature .feature-box:nth-child(6) h6 {
    background-color: #a57fc9;
}